.post-like span.fa
{
	font-size:16px;
	color:rgba(0,0,0,.3);
	border:2px solid rgba(0,0,0,.3);
	border-radius:100px;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-right:10px;
}
.post-like {font-size:14px;background:rgba(0,0,0,.06); border-radius:3px; padding:20px; margin-top:10px; margin-bottom:30px; clear:both; width:100%; float:left; color:rgba(0,0,0,.5);}