.ss-button {
	display: block;
	border: 0;
	padding: 5px 12px;
	font-size: 13px;
	cursor: pointer;
	border-radius: 4px;

	&.blue {
		color: #000;
		background: @ss-blue;
		box-shadow: 0 4px 0px 0 darken(@ss-blue, 10%);
		&:hover {
			background: darken(@ss-blue, 3%);
		}
	}

	&.green {
		color: #fff;
		background: @ss-green;
		box-shadow: 0 4px 0px 0 darken(@ss-green, 10%);
		&:hover {
			background: darken(@ss-green, 3%);
		}
	}

	&.red {
		color: #fff;
		background: @ss-red;
		box-shadow: 0 4px 0px 0 darken(@ss-red, 10%);
		&:hover {
			background: darken(@ss-red, 3%);
		}
	}
}
