@layout-main-size: 500px;
@layout-sidebar-size: 230px;
@ss-blue: #c3d9ff;
@ss-green: #82bb1f;

body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

input,
select,
textarea,
button {
	font-family:inherit;
}

.clear {
	clear: both;
}
