.ss-container {
	display: block;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);

	.ss-section {
		border-bottom: 2px solid #e9eaec;
	}
}

.profile-picture {
	display: inline-block;

	img {
		border-radius: 50%;
		// box-shadow: 0px 0px 5px #e1e1e1;
	}
}

.ss-photo {
	cursor: pointer;
	border-radius: 6px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin: 5px;
	width: 140px;
	height: 140px;

	img {
		height: 140px;
		min-width: 140px;
		position: absolute;
		top: 0; left: 0;
	}

	.ss-photo-hover {
		background: rgba(0, 0, 0, .4);
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		display: none;
	}

	.ss-photo-delete {
		width: 35px;
		height: 35px;
		background: url(../images/close.png);
		position: absolute;
		top: 5px; right: 5px;
		display: none;
	}
}

.ss-file {
	overflow: hidden;
	position: relative;

	input {
		position: absolute;
		top: 0; right: 0;
		opacity: 0;
		height: 100%;
		cursor: pointer;
	}
}

.ss-link {
	cursor: pointer;
}

.ss-picture-preview {
	display: none;
	margin-top: 15px;

	img {
		max-width: 350px;
	}
}

.ss-select {
	padding: 7px;
	padding-right: 20px;
	border-radius: 4px;
	font-size: 12px;
	color: #727272;
	border: 1px solid #c8bfc4;
	box-shadow: inset 1px 1px 2px #ddd8dc;
}

.page-tabs-container {
	width: @layout-main-size - 4px;
	border: 2px solid #eef1f3;
	border-radius: 8px;
	overflow: hidden;
	background: #fff;
	color: #000;
	margin-bottom: 30px;

	.page-tab {
		display: block;
		float: left;
		background: #fff;
		width: (@layout-main-size - 4px)/4 - 2px;
		border-left: 1px solid #eef1f3;
		border-right: 1px solid #eef1f3;
		text-align: center;
		font-size: 12px;
		line-height: 60px;
		cursor: pointer;

		&.is-active {
			background: #c3d9ff;
		}
	}
}

.page-tab-component { display: none; }

.ss-highlight {
	display: inline-block;
	padding: 8px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	font-size: 12px;

	&.gray {
		background: #999;
	}

	&.green {
		background: #468847;
	}

	&.light-green {
		background: #7bb21b;
	}

	&.red {
		background: #b94a48;
	}
}
