#post_message {
	padding: 20px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
	min-height: 120px;
	margin-bottom: 40px;

	h2 {
		font-weight: 700;
		font-size: 13px;
		padding-bottom: 12px;
	}

	textarea {
		color: #727272;
		margin-left: -3px;
		border-radius: 4px;
		border: 1px solid #e9eaec;
		background: #f9f9f9;
		font-weight: 400;
		font-size: 13px;
		width: 100%;
		max-width: 100%;
		height: 75px;
		resize: vertical;
	}

	input[type="submit"] {
		float: right;
	}

	.ss-file-wrapper {
		float: left;
	}
}

article {
	margin-bottom: 25px;
	font-size: 13px;
}

.article-left {
	float: left;
	width: 75px;
	margin-right: 8px;
	text-align: center;

	.article-category {
		margin: 0 auto;
		margin-top: 6px;
		display: block;
		position: relative;
		border-radius: 4px;
		padding: 10px 5px;
		width: 60px;
		text-align: center;
		font-size: 12px;
		color: #fff;

		&:after {
			position: absolute;
			display: inline-block;
			border-left: 5px solid transparent;
			border-bottom: 5px solid #fff;
			border-right: 5px solid transparent;
			left: 30px;
			top: -4px;
			content: '';
		}

		&.classroom-category {
			background: @classroom-color;

			&:after {
				border-bottom: 5px solid @classroom-color;
			}
		}

		&.group-category {
			background: @group-color;

			&:after {
				border-bottom: 5px solid @group-color;
			}
		}
	}
}

.article-right {
	float: left;
	width: 500px-75px-8px;

	.ss-section {
		padding: 14px;
		color: #727272;
	}

	.article-photos {
		margin-top: 10px;
	}

	.article-title {
		margin-bottom: 6px;
		color: #000;
	}

	.article-footer {
		margin-top: 14px;

		.article-share {
			float: right;
			margin-left: 5px;
			cursor: pointer;
		}

		& .thumbs-container {
			float: right;
			border-radius: 5px;
			overflow: hidden;
			color: #fff;
			font-weight: 700;

			& .thumb-up {
				float: left;
				background: #a4c346;
				padding: 0 5px;
				height: 28px;
				line-height: 28px;
				cursor: pointer;
			}

			& .thumb-down {
				float: left;
				background: #c84848;
				padding: 0 5px;
				height: 28px;
				line-height: 28px;
				cursor: pointer;
			}
		}
	}

	.post-comment {
		textarea.post-comment-textarea {
			font-size: 13px;
			width: 300px;
			max-width: 300px;
			height: 44px;
			color: #727272;
			margin-left: 20px;
			border-radius: 4px;
			border: 1px solid #e9eaec;
			background: #f9f9f9;
		}

		.post-comment-bottom {
			text-align: right;
			padding-right: 8px;

			.post-comment-pressing-enter {
				font-size: 11px;
				display: inline-block;
				margin-right: 10px;
			}
		}
	}

	.posted-comments {
		.posted-comment {
			display: none;

			&:nth-child(-n+2) {
				display: block;
			}
		}

		.show-more {
			margin: 15px auto;
		}
	}
}
