.page-settings {
	font-size: 13px;
	color: #727272;

	h1 {
		font-weight: 700;
		color: #000;
		padding-bottom: 8px;
		padding: 20px;
		padding-bottom: 0px;
	}

	.page-settings-inner {
		padding: 15px;
		box-sizing: border-box;
	}

	table {
		box-sizing: border-box;
		width: 100%;
		border: 15px solid transparent;
	}

	table td {
		padding: 2px;
		vertical-align: middle;
	}

	.ss-save {
		float: right;
		margin: 10px 10px 0 0;
	}

	.ss-add-education {
		float: left;
		margin: 10px 0 0 0;
	}

	table.ss-table-education {
		tr {
			border-bottom: 2px dashed #e9eaec;
			
			&:last-child {
				border-bottom: 0;
			}
		}

		td {
			padding: 10px 0;
		}
	}

	table.settings-filled-table {
		text-align: center;
		border: 0;
		margin-top: 10px;

		td {
			padding: 7px;

			button {
				margin: 0 auto;
			}
		}

		tr:nth-of-type(1) {
			background: #f0f2f3;

			td {
				padding: 9px;
			}
		}
	}

}

.ss-input1 {
	box-sizing: border-box;
	width: 100%;
	padding: 4px; padding-right: 17px;
	border: 0;
	background: url(../images/background_icons/edit-input.png)
		right center
		no-repeat
		transparent;
	border-bottom: 2px dotted #c7c7c7;
	color: #727272;
}

.ss-input2 {
	box-sizing: border-box;
	width: 150px;
	padding: 6px;
	border: 0;
	border-bottom: 2px dotted #c7c7c7;
	color: #727272;
}

.ss-input3 {
	box-sizing: border-box;
	width: 60px;
	padding: 6px 0;
	background: #f9f9f9;
	color: rgb(114, 114, 114);
	border: 1px solid #e1e1e1;
	border-radius: 5px;

	&.isFullWidth {
		width: 100%;
	}
}
