.page-settings {
	font-size: 13px;
	color: #727272;

	h1 {
		font-weight: 700;
		color: #000;
		padding-bottom: 8px;
		padding: 20px;
		padding-bottom: 0px;
	}

	table {
		margin: 15px;
		margin-top: 10px;
		width: 440px;
	}

	table td {
		padding: 2px;
		vertical-align: middle;
	}

}

.ss-input1 {
	width: 100%;
	padding: 4px; padding-right: 17px;
	border: 0;
	outline: 0;
	background: url(../images/background_icons/edit-input.png)
		right center
		no-repeat
		transparent;
	border-bottom: 2px dotted #c7c7c7;
	color: #c7c7c7;
}
