.ts-top {
	height: 35px;
	width: 100%;
	margin-bottom: 8px;
}

.ts-mode-tools-top {
	float: left;

	.ts-mode-tool-top {
		display: inline-block;
		margin-right: 3px;
		vertical-align: middle;

		&.ts-mode-tool-top-text {
			padding-top: 7px;
			height: 28px;
		}
	}
}

.ts-modes-select {
	float: right;

	.ts-mode-select {
		display: inline-block;
		margin-left: 3px;
	}
}

.ts-button-unfilled {
	background: #fff;
	height: 35px;
	width: 35px;
	border-radius: 35px;
	cursor: pointer;
	text-align: center;

	&>img {
		width: 20px;
		height: 20px;
		margin-top: floor((35px-20px)/2);
	}

	&.is-selected {
		background: #7daf36 !important;
	}

	&:hover {
		background: lighten(#7daf36, 10%);
	}
}


.ts-cam-toggle {
	float: left;

	&>img {
		display: inline-block;
	}
}

.ts-mic-toggle {
	float: right;

	&>img {
		display: inline-block;
	}
}

#webrtc-source,
#webrtc-remote {
	width: 200px;
	height: 160px;
	padding: 10px;
}

.ts-video-buttons {
	margin: 20px 0;

	button {
		width: 220px;
		box-sizing: border-box;
		margin-bottom: 13px;
		margin-top: 13px;
	}
}

/**
 * Bottom layout for Tutoring Session
 */
.layout-ts-bot {
	display: table;
	margin: 0 auto;
	margin-bottom: 30px;
	width: @layout-main-size + @layout-sidebar-size*2px;

	.ts-module {
		.ts-module-container {
			border-radius: 6px;
			overflow: hidden;
			box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);
		}

		.ts-module-toolbar {
			background: #f1f1f1;
			height: 26px;
			width: 100%;
			border-bottom: 1px dashed #ccc;

			.ts-module-title {
				font-size: 12px;
				color: #7a7a7a;
				padding: 8px;
				display: inline-block;
			}
		}
	}

	.ts-chat {
		display: table-cell;
		vertical-align: top;
		width: (@layout-main-size + @layout-sidebar-size*2px)/2-10px;
		padding-right: 10px;

		.ts-chat-messages {
			width: 100%;
			height: 135px-26px;
			padding: 5px;
			border-bottom: 0;
			overflow: auto;
			background: #fff;
			box-sizing: border-box;

			.ts-chat-message {
				font-size: 13px;
				margin-bottom: 3px;

				&.ts-chat-message-0 .ts-chat-message-name {
					color: @group-color;
					font-weight: 700;
				}

				&.ts-chat-message-1 .ts-chat-message-name {
					color: @tutor-color;
					font-weight: 700;
				}
			}
		}

		.ts-chat-textarea {
			width: 100%;
			height: 40px;
			padding: 5px;
			resize: none;
			border: 0;
			border-top: 1px solid #ccc;
			box-sizing: border-box;
		}

		.ts-chat-bot {
			margin-top: 10px;

			.ss-button {
				float: left;
			}

			.ts-chat-pressing-enter {
				float: right;
				font-size: 10px;
				margin-right: 10px;
			}
		}
	}

	.ts-file-manager {
		display: table-cell;
		vertical-align: top;
		width: (@layout-main-size + @layout-sidebar-size*2px)/2;
		font-size: 12px;
		color: #7a7a7a;

		.ts-file-manager-files {
			background: #fff;
			width: (@layout-main-size + @layout-sidebar-size*2px)/2;
			height: 150px;
			padding: 5px;
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap; // for inline files
			box-sizing: border-box;

			.ts-file-manager-file {
				position: relative;
				width: 125px;
				height: 125px;
				display: inline-block;
				margin-right: 5px;
				border: 1px solid #e4e4e4;

				&>img {
					width: 125px;
					height: 125px;
				}

				.ts-file-manager-file-actions {
					display: none;
					position: absolute;
					top: 0; left: 0;
					width: 100%;
					height: 125px-25px;
					background: rgba(0, 0, 0, .9);
					color: #fff;
					font-weight: 700;
					text-align: center;
					box-sizing: border-box;
					padding-top: 27px;

					.ts-file-manager-file-action {
						display: block;
						cursor: pointer;
						color: #fff;
						margin-bottom: 5px;

						&>img {
							margin-right: 5px;
							max-height: 10px;
							max-width: 10px;
						}

						&:hover {
							color: #7bb21b;
						}
					}
				}

				.ts-file-manager-file-caption {
					position: absolute;
					bottom: 0; left: 0;
					width: 100%;
					height: 25px;
					line-height: 25px;
					background: rgba(0, 0, 0, .8);
					color: #fff;
					font-weight: 700;
					text-align: center;
				}
			}
		}

		.ts-file-manager-bot {
			margin-top: 10px;
		}
	}
}

/**
 * Modals
 */
#ss-modal-ts-finished {
	font-size: 18px;

	#ss-modal-ts-finished-stars {
		margin-top: 20px;

		.ss-modal-ts-finished-star {
			cursor: pointer;
		}
	}

	#ss-modal-ts-finished-feedback {
		margin-top: 20px;

		textarea {
			width: 500px;
			height: 75px;
			border: 1px dashed #ccc;
			outline: none;
			resize: none;
			box-shadow: 0px 0px 10px #ddd;
		}
	}
}
