.page-tab-component .with-padding {
	padding: 10px 0;
}

.friend {
	display: inline-block;
	position: relative;
	margin: 2px;

	.friend-hover {
		display: none;
		background: rgba(0, 0, 0, .85);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	img {
		display: block;
	}

	span {
		display: none;
		font-weight: 700;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
		color: #fff;
		font-size: 20px;
		width: 100%;
		text-align: center;
		padding: 30px 5px;
		box-sizing: border-box;
	}
}
