/*=========================================
General
==========================================*/
::selection{color:#fff;background:#f9845b;}
::-moz-selection{color:#fff;background:#f9845b;}
a:hover, a:focus,
ul.instructors li a:hover,
.sc-entry-cat span.posted_in a:hover,
.sc-entry-cat span.tagged_as a:hover,
.mm-listview a:hover,
.main-menu .sf-menu a:hover,
#main-header.white .main-menu .sf-menu .sf-mega a:hover,
#main-header #user-trigger a.user_forgot:hover,
#page-side-wrapper .user_forgot:hover,
a.readmore:hover,
.post-categories a,
.tag-links a:hover,
.course-loop-price .amount,
.post-like .voted span.fa,
.post-like span.fa:hover,
.sc-testimonial .testimonial-item .author-name,
.single-course .course-meta li span a,
.course-list .amount,
.list-course.list-style .course .course-title,
.footer-link.list-style li a:hover,
footer a:hover,
.benefit-2 .vtcc-benefit-icon,
.sc-gallery h3 a:hover,
.nav-link a:hover,
#user-trigger.select_wrapper .nav-link a:hover,
#course-filter.select_wrapper .select_dropdown li:hover,
#course-filter.select_wrapper .select_dropdown li.active,
.list-style.blog li span.post_categories a,
.select_dropdown  li:hover,
ul.product_list_widget li a:hover,
.text-color,
#spacex-breadcrumb a:hover,
.nav-tabs > li.active > a i,
.header-white #topbar .textwidget a,
.header-dark #topbar .textwidget a,
#main-header.white .main-menu-wrapper .main-menu a:hover,
#main-header.white .main-menu-wrapper .main-menu li.current-menu-item > a,
.course-loop-price,
.event-loop-price,
.single-course span.posted_in a,
.single-event span.posted_in a,
.xslider .xslider-readmore:hover,
.xbutton > a:hover,
.table-col.col-price,
.togglex-toggler i
{color:#f9845b;}
.mm-listview .mm-next:hover,
.tag-links a:hover,
.post-like span.fa:hover,
.post-like .voted span.fa,
#course-filter.select_wrapper .select_dropdown li.active,
#course-filter.select_wrapper .select_dropdown li:hover
{border-color:#f9845b !important;}
.readmore:hover,
.single-course .course-meta li span a:hover,
.list-style.blog li span.post_categories a:hover
{border-color:#333 !important; color:#333 !important;}
.nav-tabs > li.active > a
{
	box-shadow: inset 0 2px 0 #f9845b;	
}
.vertical-tabs .nav-tabs > li.active > a
{
	box-shadow: inset 2px 0 0 #f9845b;		
}
/*=========================================
Site
==========================================*/
span.post_categories a,
.sc-wall .sc-categories,
.comment-number,
#user-trigger,
.flex-direction-nav .flex-next,
.flex-direction-nav .flex-prev,
#wp-calendar caption,
.single-event .entry-thumbnail .posted_in,
.event-date-time,
.xslider-control 
{
	background:#f9845b	
}
.sf-menu .sf-mega,
#user-trigger.select_wrapper .select_dropdown,
#topbar .cart-list
 {border-top:3px solid #f9845b}
/*=========================================
Woocommerce
==========================================*/
.woocommerce table.shop_table a,
.woocommerce table.shop_table td .product-name
.woocommerce table.shop_table td .product-name strong,
.checkout-msg a:hover,
#topbar a.cart-contents:hover,
#bbpress-forums div.bbp-reply-content a,
.bbp-topic-started-by .bbp-author-name,
.bbp-topic-freshness-author .bbp-author-name
{color:#f9845b;}
.woocommerce .single_add_to_cart_button.button.alt
{
	background:#f9845b	
}
.bbp-topic-started-by .bbp-author-name:hover,
.bbp-topic-freshness-author .bbp-author-name:hover
{
	color:#777;
}

/*=========================================
XCourse
==========================================*/
.ts-tab .nav-tabs > li.active > a, .ts-tab .nav-tabs > li.active > a:hover, .ts-tab .nav-tabs > li.active > a:focus,
.ts-tab .nav-tabs > li > a:hover
{
  box-shadow: inset 0 -3px 0 0 #f9845b;
}
.nav-link a:hover, .nav-link a:focus, .nav-link a.active {
  box-shadow: inset 3px 0px 0 0  #f9845b;
}
.user-manager .user-avatar,
.xevent-pagination .page-numbers span.current, .xevent-pagination .page-numbers a:hover, .xevent-pagination .page-numbers a:focus,
.xcourse-pagination .page-numbers span.current, .xcourse-pagination .page-numbers a:hover, .xcourse-pagination .page-numbers a:focus
{
	background:#f9845b	
}
.dashboard-header .user-name
{
	color:#f9845b;
}
